@import "~assets/styles/variables";

header {
  background-color: $theme-yellow;
  padding: 16px $side-spacing;

  .header-title {
    color: $theme-grey;
    font-size: 40px;
    font-weight: bold;
  }
}

main {
  padding: 10px $side-spacing;

  @media screen and (max-width: $large-screen) {
    padding: 10px $side-spacing/2;
  }

  @media screen and (max-width: $medium-screen) {
    padding: 10px;
  }
}
