@import "~assets/styles/variables";

.search-input {
  background-color: $light-grey;
  border-width: 0;
  border-radius: 8px;
  color: #333333;
  font-size: 15px;
  padding: 4px 8px;
  height: 35px;
  width: 60%;
  margin-right: 12px;
  max-width: 300px;
}
.category-nav {
  color: #cccccc;
  overflow: auto;
  padding-bottom: 4px;
  white-space: nowrap;

  a {
    display: inline-block;
    font-size: 14px;
    margin: 0 8px;
    padding: 6px;
    text-decoration: none;
  }

  .active {
    color: #bf0000;
  }
}