$light-grey: #efefef;
$grey: #bbbbbb;
$dark-grey: #666666;




$font-subtitle: 28px;

$theme-yellow: #fff333;
$theme-grey: #333333;
$content-white: #cccccc;

$side-spacing: 40px;
$section-spacing: 24px;