@import "~assets/styles/variables";

.movie-details {
  margin: 50px 0;
}

.movie-rating {
  flex-basis: 25%;
  padding-right: 70px;

  @media screen and (max-width: $large-screen) {
    padding-right: 35px;
  }
}

.detail-list {
  flex-basis: 75%;
  flex-direction: column;
  justify-content: space-evenly;

  .list-title {
    flex-basis: 30%;
  }

  .list-content {
    flex-basis: 70%;
  }
}
