@import "~assets/styles/variables";

.movie-page {
  padding: $section-spacing 0;
}

.movie-info {
  color: $content-white;
  flex-basis: 60%;
  margin-left: $side-spacing;
}

.go-back {
  font-size: 18px;

  span {
    color: $theme-yellow;
  }
}
