$theme-yellow: #fff333;
$theme-grey: #353535;
$dark-grey: #222222;
$light-grey: #aaaaaa;
$content-white: #bbbbbb;

$side-spacing: 44px;
$section-spacing: 24px;

$large-screen: 900px;
$medium-screen: 700px;
$small-screen: 550px;